// Background colours
$backgroundColour: #444444;
$codeBackgroundColour: #444444;
$featureBackgroundColour: #444444;
$accentColour: #444444;

// Text colours
$headingColour: #fff;
$bodyColour: #fff;
$linkColour: #fff;
$hoverColour: #a0a0a0;
$focusColour: #a0a0a0;
$captionColour: #a0a0a0;
$white: #ffffff;

// Typography
$bodytype: (
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';,
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.66
);

$headingtype: (
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';,
  regular: 400,
  bold: 700,
  cap-height: 0.66
);

$monospacetype: (
  font-family: Menlo, monospace,
  regular: 400,
  cap-height: 0.68
);

// Font import, if you're using a non-standard web font
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
