---
title: false
styles: true
---

@import "alembic";

.footer {
  background: $backgroundColour;
  color: $captionColour;
  a {
    color: $captionColour;
    &:hover {
      color: $captionColour;
    }
  }
