---
title: false
styles: true
---

@import "alembic";

.feature {
    margin-bottom: 0;
}

.article--post {
    padding: 0 4%;
    background: #555;
}

.footer {
  background: $backgroundColour;
  color: $captionColour;
  a {
    color: $captionColour;
    &:hover {
      color: $captionColour;
      box-shadow: 0 2px 0 0;
    }
  }
}
