---
title: false
styles: true
---

@import "alembic";

.footer {
  background: $backgroundColour;
  color: $captionColour;
  a {
    color: $captionColour;
    &:hover {
      color: $captionColour;
      box-shadow: 0 2px 0 0;
    }
  }
}
